

.container {
    max-width: 800px;
    margin: 0 auto;
}
label {
    display: block;
    margin-bottom: 4px;
}

/* this is style for the nav-bar */
.nav-bar {
    background-color: white;
    border-bottom: 1px #DCDCDC solid;
    padding: 20px 0;
}
.nav-bar ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: end;
    margin: 0;
    padding: 0;
}
.nav-bar ul li {
    margin-left: 0;
    padding-left: 0;
}

a  {
    text-decoration: none;
}

.form-container {
    max-width: 400px;
    background: #EEEEEE;
    margin: 0 auto;
    padding: 32px;
    border-radius: 8px;
}
input {
    width: 100%;
}
input[type=text], input[type=password] {
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    padding: 8px 4px;
}
input[type=submit] {
    background: aqua;
    padding: 8px;
    border: 1px solid #AAAAFF;
    border-radius: 3px;
}

.form-group {
    margin-bottom: 16px;
}

.chat-box textarea {
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    padding: 8px 4px;
    width: 100%;
    margin-bottom: 16px;
}

table.chat-table {
    width: 100%;
}
table.chat-table thead {
    background-color: #DEDEDE;
}
table.chat-table thead td {
    padding: 16px;
}
table.chat-table tbody tr {
    background-color: #EFEFEF;
}
table.chat-table tbody td {
    padding: 8px 16px;
}